<<<<<<< HEAD
$main_font: 		'Roboto', sans-serif;

$main_text_color: 	#797979;
$main_orange: 		#f75311;
$main_dark:			#374249;
$grey_light:		#cfd1d3;
$section_grey:		#f3f7f9;
=======
$main_font: 'Open Sans', sans-serif;
$logo_font: 'Raleway', sans-serif;

$grey_background: #f0f0f0;
$main_text_color: #797979;
$main_red: #ff3720;
$red_dark: #e42b15;
>>>>>>> aedb8e4c36a958a02b30d448fe20d838aba14c9f
