.nav {
    width: 50%;
    margin: auto;
    ul {
        height: 4em;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #dddddd;
    }
    
    li {
        float: left;
        margin-top: auto;
        margin-bottom: auto;
    }
    
    li a  {
        display: block;
        padding: 8px;
        
    }
    
    #new-york, img {
        float: left;
    }

    img {
        height: 3em;
    }

}

.welcome {
    background-image: url("../slike/intro.jpg");
    width: 50%;
    height: 50%;
    margin: auto;
    
}

.buttons {
    width: 50%;
    margin: auto;
    button {
        border: solid 1px black;
        border-radius: 50px;
    }
}

.photos {
    padding-left: 400px;
    padding-right: 400px;
    width: 50%;
    margin: auto;

    img {
        float: left;
        width: 250px;
        height: 400px;
        margin: 30px 30px;
    }
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.pricing {
    width: 50%;
    margin: auto;
}

.contact {
    width: 50%;
    margin: auto;
}

.foot {
    width: 50%;
    margin: auto;
}