@import "_vars";

table {

    empty-cells: hide;
    color: white;
    text-align: center;
    border-collapse: collapse;

    tbody {
        th,td {
            border: 1px solid grey; 
        }
    }
    td {
        color: grey;
    }
    th {
        background-color: $blue;
        padding: 10px;
    }
    th.red {
        background-color: $red-orange;
    }
    th.no-color {
        background-color: transparent;
    }
}