@import "_vars";

.prices {
    text-align: center;

    h5 {
        padding-bottom: 30px;
        font-weight: 100;
    }
}

table {

    margin: 0 auto;
    width: 50%;
    empty-cells: hide;
    color: white;
    text-align: center;
    border-collapse: collapse;

    tbody {
        th,td {
            border: 1px solid grey; 
        }
    }
    td {
        color: grey;
    }
    th {
        background-color: $blue;
        padding: 10px;
    }
    th.red {
        background-color: $red-orange;
    }
    th.no-color {
        background-color: transparent;
    }
}